/* FOOTER SECTION STYLING */
footer {
	text-align: center;
	padding: 1rem;
}
footer img {
	height: 1.3rem;
	width: 1.3rem;
	margin: 0.3rem;
}
hr {
	width: 90%;
	margin: auto;
}
footer p {
	font-size: var(--text-small);
	color: var(--grey-text-color);
}
