
.menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: relative;
    user-select: none;
    display: none;
    

}

.bar {
    width: 100%;
    height: 3px;
    background-color: #007bff;
    background-color: var(--primary-color);
    border-radius: 3px;
    transition: transform 0.3s ease;
}

.bar:nth-child(2) {
    margin: 5px 0;
}

.menu-btn.open .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.menu-btn.open .bar:nth-child(2) {
    opacity: 0;
}

.menu-btn.open .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}
@media screen and (max-width: 700px) {
	.menu-btn{
		display: block;
        display: flex;
	}
	
	
}