/* Project Section Start */

.projects {
	width: 100%;
	height: auto;
	padding-bottom: 50px;
}
.projects .title {
	font-size: 40px;
	font-family: 'Lemon', serif;
	margin: auto;
	width: fit-content;
	padding: 50px 0 50px 0;
}
.projects .container {
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	flex-wrap: wrap;
}
.projects .contain {
	height: 250px;
	width: 200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	border: 2px solid #e0e0e0;
	border-radius: 30px;
	font-weight: 500;
	color: #202125;
}
.projects img {
	height: 180px;
	width: 180px;
	border-radius: 20px;
}

/* Making Responsive */
@media screen and (max-width:600px) {
	.projects .container {
		width: 100%;
		gap: 25px;
	}
}
/* Project Section End */