@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap&family=Diphylleia&family=Genos:wght@400&family=Marhey:wght@300&family=Noto+Sans:wght@300;400;500;900&family=Rubik+Glitch&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Noto Sans', sans-serif;
	/* font-family:  "Google Sans",arial,sans-serif; */
	font-size: 18px;
	letter-spacing: -0.25px;

	/* color: #202125; */
}
:root {
	--primary-color: #94c973;
	--secondary-color: #ef7c8e;
	--primary-fontFamily: 'Genos', sans-serif;
	--secondary-fontFamily: 'Marhey', sans-serif;
}
body {
	width: 100vw;
	height: auto;
	overflow-x: hidden;
	/* background: #75E6DA; */
}

/* NAV START */

nav {
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding: 15px;
}
nav .title {
	font-size: clamp(22px, 1.5vw, 50px);
	line-height: none;
	/* background: red; */
	/* font-family: var(--primary-fontFamily); */
}
nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	/* background: red; */
}
nav ul li {
	cursor: pointer;
}
/* Making Responsive */
@media screen and (max-width: 700px) {
	nav {
		width: 100%;
		/* background: red; */
		color: #94c973;
	}
	nav .title {
		/* font-size: 20px; */
	}
}

/* NAV END */
